extends layout

h1= title

block container-1
  ul
    li: a(href='#cp')
      span Control Panel

  div#cp
    div.fragment-content
      div
        a(href="https://#{httphost}:12320")
          img(src="/images/shell.png")
          span Web Shell

      div
        a(href= "https://#{httphost}:12321")
          img(src="/images/webmin.png")
          span Webmin

      div

      div

      div

      h2 Resources and references
      ul
        li: p The official Node.js 
          a(href="http://nodejs.org")  homepage 
          span  and 
          a(href="http://nodejs.org/api/")  reference manual

        li: p The excellent 
          a(href="https://www.npmjs.com/")  NPM registry

        li: a(href="http://www.turnkeylinux.org/nodejs") TurnKey Node.js release notes
